@import '../../styles/variables.css';

/* Container */
.boardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 0;
  padding-bottom: 2rem;
}

/* Board Grid */
.board {
  display: grid;
  gap: 1px;
  height: 100%;
  aspect-ratio: 1;
}

/* Responsive */
/*
@media (max-width: 768px) {
  .boardContainer {
    padding: 0;
  }
}
*/
