@import '../../styles/variables.css';

.gameContainer {
  display: grid;
  grid-template-columns: 4rem 1fr;
  height: calc(100vh - 0px);
  overflow: hidden;
}

.gameBoard {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--spacing);
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg);
}

.loadingContainer,
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.settingsContainer {
  width: 3rem;
  height: 1rem;
}
